button:focus {outline:0 !important;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#addnew-button {
  // font-size: 21px;
}

.login-button {
	border: 1px solid #4c4c6e;
  background-color: #dfaa0a;
  border-radius: 3px;

}
.login-button:hover {
	border: 1px solid #dfaa0a;
	color: #3a7999;
	background: #4c4c6e;
  border-radius: 3px;
  color: white;
}
