.search-input-elems {
  width: 100%;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown-toggle.btn.btn-secondary {
  height: 1.7rem;
  font-size: 11px;
}

.input-group {
  height: 1.7rem;
}

.search-button-input {
  height: 1.7rem;
  width: 2rem;
  background-color: #ffc107;
}
