.main-page {
  height: 600px;
  background-image: url("https://cdn0.vox-cdn.com/uploads/chorus_asset/file/6384159/final_cb_0086.0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttonSubmit {
  float: right;
}

.leftNav {
  background-color: white;
  width: 30%;
  margin-top: 20px;
  margin-left: 5px;
  padding: 7px;
  float: left;
  border-radius: 10px;
}
