.major-div {
  height: 500px;
}

.major-header {
  height: 9%;
}

.header {
  max-height: 50px;
}

.main-page {
  // height: 600px;
  // background-image: url("https://cdn0.vox-cdn.com/uploads/chorus_asset/file/6384159/final_cb_0086.0.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // display: flex;
  // justify-content: space-around;
  // padding-top: 3.3rem;
}

.rightNav {
  float: right;
  display: none;
  width: 75%;
}
#buttonSubmit {
  float: right;
}

svg {
  fill: white;
  width: 3rem;
  padding: 0;
}

#my-gadgets-name {
  font-size: 12px;
}

.leftNav {
  width: 25%;
  // width: 200px;
  // margin-top: 20px;
  // margin-left: 5px;
  // padding: 7px;
  // float: left;
  // border-radius: 10px;
  // max-height: 280px;
  // border: 1px solid black;
  position: fixed;
  height: 100%;
  display: flex;
  color: white;
}

.lefty-nav-bar {
  border-top: 1px solid white;
  // padding: 10px;
  background-color: #9c9cc2;
}

.righty-nav-bar {
  // border: 1px solid white;
  padding-top: 8px;
  background-color: #4c4c6e;
  width: 9.4rem;
}


.my-gadgets-nav > #nav-icon-gadger {
  width: 1rem;
}

#addnew-button {
  background-color: #4c4c6e;
  border: 0px;
  color: white;
  font-size: 13px;
  width: 100%;
}

#addnew-button:hover {
  background-color: #4c4c6e;
  border: 0px;
  color: #dbaa16;
  font-size: 15px;
  transition: 0.5s;
}

.my-gadgets-nav {
  text-align: center;
}

.categories {
  text-align: start;
  padding: 0.4rem;
  overflow: auto;
  height: 50vh;
}
