.search-result-items {
  width: 100%;
  border: 1px solid grey;
  height: 100px;
}
.left-search-result {
  width: 20%;
  border: 1px solid grey;
  height: 100px;

}
.right-search-result {
  width: 80%;
  border: 1px solid grey;
  height: 100px;

}
